GROQ_API_KEY=
GROQ_BASE_URL=

COSMOS_URL=
COSMOS_KEY=

COSMOS_DB=

NEWS_CONTAINER=
NEWS_CONTAINER_PARTITION_ID=

CLIENT_PORTFOLIO_CONTAINER=
CLIENT_PORTFOLIO_CONTAINER_PARTITION_ID=

INSIGHTS_CONTAINER=
INSIGHTS_CONTAINER_PARTITION_ID=


EVENTHUB_NAME=
EVENTHUB_CONNECTION_STRING=
CHECKPOINT_CONTAINER=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
AZURE_STORAGE_CONNECTION_STRING=

EODHD_API_KEY=

HF_TOKEN=